---
const today = new Date();
---

<footer class="py-12 px-6 border-t border-white/5 text-center">
	<p class="text-xs text-zinc-600 uppercase tracking-widest font-bold">
		&copy; {today.getFullYear()} Talles Cattarin. All Rights Reserved. 👊🏻🤘🏻
	</p>
</footer>