---
import { SITE_TITLE } from '../consts';
import tallesLogoSm from '../assets/tcbrand.svg';
import HeaderLink from './HeaderLink.astro';
import { HeartIcon } from '@lucide/astro';
---

<header class="top-4 right-0 left-0 z-50 fixed px-6">
	<nav class="relative bg-[#0D0D0D] mx-auto border top-bar-border border-white/5 rounded-lg max-w-7xl overflow-hidden">
		<div class="relative flex justify-center items-center px-6 py-4 h-16">
			<HeaderLink href="/#home" class="left-6 absolute font-bold text-xl uppercase tracking-tighter hover:scale-110 transition-transform duration-300">
				<img src={tallesLogoSm.src} alt={SITE_TITLE} class="h-6 -rotate-2" />
			</HeaderLink>
			
			<ul class="hidden md:flex gap-8">
				<li><HeaderLink href="/#services" class="font-light text-zinc-400 hover:text-red-500 text-sm uppercase tracking-widest transition-colors">Services</HeaderLink></li>
				<li><HeaderLink href="/#studio" class="font-light text-zinc-400 hover:text-red-500 text-sm uppercase tracking-widest transition-colors">Work</HeaderLink></li>
				<li><HeaderLink href="/#contact" class="font-light text-zinc-400 hover:text-red-500 text-sm uppercase tracking-widest transition-colors">Contact</HeaderLink></li>
				<li><HeaderLink href="/blog" class="font-light text-zinc-400 hover:text-red-500 text-sm uppercase tracking-widest transition-colors">Blog</HeaderLink></li>
			</ul>

			<HeaderLink href="/donate" class="inline-flex right-6 absolute gap-2 hover:cursor-pointer">
				<span class="font-medium text-zinc-400 text-xs uppercase tracking-widest">
					Support Me
				</span>
				<HeartIcon class="w-4 h-4 text-rose-500" />
			</HeaderLink>
		</div>
	</nav>
</header>
